 <div class="container">
	<div class="row">
		<div class="col-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Days Without Food</h5>
					<h5 id="statistic-food" class="card-text"></h5>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Days Without Water</h5>
					<h5 id="statistic-water" class="card-text"></h5>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Days Without Defecation</h5>
					<h5 id="statistic-defecation" class="card-text"></h5>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Days Without Vomiting</h5>
					<h5 id="statistic-vomit" class="card-text"></h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		
	</div>
</div>