 <div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Days Without Food</h5>
					<p id="statistic-food" class="card-text"></p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Days Without Water</h5>
					<p id="statistic-water" class="card-text"></p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Days Without Defecation</h5>
					<p id="statistic-defecation" class="card-text"></p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Days Without Vomiting</h5>
					<p id="statistic-vomit" class="card-text"></p>
				</div>
			</div>
		</div>
	</div>
</div>