<div class="container">
	<form class="row">
		<div class="col-5">
			<label for="date">Date:</label>
			<input id="date" class="form-control" type="date" disabled>
		</div>
		<div class="col-1">
			<div class="form-check today-checkbox">
				<input id="today" class="form-check-input hover-pointer" type="checkbox" checked onclick="toggleDateInput()">
				<label class="form-check-label hover-pointer" for="today" onclick="toggleDateInput()">Today</label>
			</div>
		</div>
		<div class="col">
			<input class="form-control" type="text">
		</div>
	</form>
</div>