.hover-default:hover {
	cursor: default;
}

header {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	margin-left: 14.5rem;
	background-color: var(--bs-primary);
	width: calc(100% - 14.5rem);
	height: 4rem;
	box-shadow: 0 0 5px 0 black;
}

#page-title {
	padding: 1rem;
	margin-bottom: 0;
	text-shadow: 0 0 3px black;
}

nav {
	background-color: var(--bs-secondary);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 14.5rem;
	box-shadow: 0 0 5px 0 black;
	z-index: 1;
}

.nav-header {
	margin-top: 1rem;
	margin-bottom: 0;
	text-shadow: 0 0 3px black;
	font-weight: bold;
	text-align: center;
}

.nav-list {
	padding: 0;
}

.nav-list li {
	list-style-type: none;
	margin: 0 0.5rem 0.5rem;
	padding: 0.5rem;
	background-color: #61666d;
	border-radius: 0.5rem;
	box-shadow: 0 0 3px 0 #00000099;
}

.nav-list li:hover {
	cursor: pointer;
	background-color: var(--bs-primary-border-subtle);
	box-shadow: 0 0 5px 0 #ffffff99;
}

.nav-footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 14.5rem;
}

.nav-footer p {
	background-color: #61666d;
	padding: 0.5rem;
	box-shadow: 0 0 3px 0 #00000099;
	border-radius: 0.5rem;
	font-size: 9pt;
}

#main {
	margin: 5rem 1rem 1rem 15.5rem;
}